In [ ]:
!pip install boto3

In [1]:
import pandas as pd

#Biblioteca para se conectar com APIs de terceiros
import boto3

from io import BytesIO
from io import StringIO

In [2]:
client = boto3.client(
    's3',
    endpoint_url="http://awari-minio-nginx:9000",
    aws_access_key_id="mnzf2Dw34eOEohXh",
    aws_secret_access_key="kXuPY6NVaHMySNct8INu1LB0lwNVLfYJ",
    aws_session_token=None,
    region_name="sa-east-1",
    verify=False,
    config=boto3.session.Config(signature_version='s3v4')
    
)

client

In [4]:
file_path = 'topyoutube.csv'

df = pd.read_csv(file_path)

file_path

'topyoutube.csv'

In [7]:
#Antes de fazer o upload do csv, precisamos criá-lo e subir o csv na memória

csv_buffer = StringIO ()

df.to_csv(csv_buffer)

#Depois que o csv estiver na memória através da função csv_buffer, podemos uploadear ele para o datalake
client.put_object (Body=csv_buffer.getvalue(), Bucket='aula-06', Key="diretorio/topyoutube.csv")

{'ResponseMetadata': {'RequestId': '17AF33107E402CCF',
  'HostId': 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'nginx/1.19.2',
   'date': 'Tue, 30 Jan 2024 18:22:09 GMT',
   'content-length': '0',
   'connection': 'keep-alive',
   'accept-ranges': 'bytes',
   'content-security-policy': 'block-all-mixed-content',
   'etag': '"251045da74a03aa67f35a2af6b0d5483"',
   'strict-transport-security': 'max-age=31536000; includeSubDomains',
   'vary': 'Origin, Accept-Encoding',
   'x-amz-bucket-region': 'sa-east-1',
   'x-amz-id-2': 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855',
   'x-amz-request-id': '17AF33107E402CCF',
   'x-content-type-options': 'nosniff',
   'x-xss-protection': '1; mode=block'},
  'RetryAttempts': 0},
 'ETag': '"251045da74a03aa67f35a2af6b0d5483"'}

In [8]:
#Fazer o processo inverso -> agora que o arquivo está no datalake, vamos ler o arquivo

obj = client.get_object(
    Bucket = 'aula-06',
    Key = "diretorio/topyoutube.csv"
).get("Body")

data = pd.read_csv(obj)
data.head()

   Unnamed: 0         Artist Total Views  100M     Avg
0           0            BTS    27,947.9  63.0   7.370
1           1      Bad Bunny    27,573.4  66.0  14.555
2           2  Justin Bieber    27,399.7  37.0   3.986
3           3     Ed Sheeran    26,894.0  39.0   4.609
4           4   Taylor Swift    24,350.0  38.0   5.716